# bin and obj folders
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]inaries/
[Tt]argets/
[Pp]rofiling/

# Visual Studio 2015+ cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Ignore NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when restoring packages.
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Test artifacts
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Private/Secrets
credentials.json
*.pfx
*.publishsettings

# Logs
logs/
*.log
